.cards-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-videos {
  width: 600px;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: white;
  border-radius: 5px;
  border: 2px solid #605d5d9e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-img-videos {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-title-videos {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.card-title-level {
  color: rgb(80, 44, 177);
  font-size: 30px;
  font-weight: 700;
  animation-name: fade-in;
  animation-duration: 1s;
  display: flex;
  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-modal-videos {
  background-color: #1706ff;
  color: white;
  width: 100%;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-modal-videos:hover {
  background-color: #00a6ff;
}

.card-modal-videos:active {
  transform: translateY(2px);
}

.form-add-video {
  margin-top: 200px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.form-input-video {
  margin-bottom: 10px;
  width: 539px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(169, 169, 169, 0.603);
  padding-left: 7px;
}

.form-btn-video {
  width: 560px;
  border-radius: 5px;
  padding: 10px 15px;
  background: linear-gradient(to right, #333, darkgrey);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
}

.form-btn-video:hover {
  background: linear-gradient(to right, #343232, rgb(99, 72, 171));
}

.form-btn-video-delete {
  width: 560px;
  border-radius: 5px;
  padding: 10px 15px;
  background: linear-gradient(to right, darkgrey, #333); /* Обновление градиента */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
  margin-bottom: 10px;
}

.form-btn-video-delete:hover {
  background: linear-gradient(
    to right,
    #333,
    rgb(99, 72, 171)
  ); /* Обновление градиента при наведении */
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.btn-like-img {
  background-color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 40px;
}

.buttonn {
  background-color: #fff;
}

.form-add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

iframe {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-right: 14px;
}
