.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal1 {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 1200px;
  max-height: 85%;
  overflow-y: auto;
  position: relative;
  margin-top: 40px;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 35px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 625px;
  border-radius: 5px;
  color: white;
  background: linear-gradient(to right, rgb(99, 72, 171), #333);
  height: 45px;
}

.modal-close:hover {
  background: linear-gradient(to right, #333, rgb(99, 72, 171));
}
