// @import '~bx-icons/font/bx-icons';

.auth-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 15px;
  padding: 30px;
  width: 600px;
  margin: 0 auto;
  margin-top: 150px;
  // margin-bottom: 30px;
  box-shadow: 10px 10px 20px 3px rgba($color: grey, $alpha: 0.5);
  background: white;
}

.input {
  position: relative;
  display: flex;
  justify-content: center;
  // width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message {
  color: blue;
  font-weight: 700;
  font-size: 25px;
}

.reg {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.auth {
  display: flex;
  justify-content: center;
}

.errorForm {
  color: red;
  display: flex;
  justify-content: center;
  // font-size: 30px;
}

.errorPassword {
  color: red;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.bxs-user {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 520px; /* измените значение в соответствии с вашим дизайном */
  top: 95px;
}

.bxs-lock-alt {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 520px; /* измените значение в соответствии с вашим дизайном */
  top: 142px;
  // bottom: 30px;
}

.bzz1 {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 520px; /* измените значение в соответствии с вашим дизайном */
  top: 190px;
}

.bxx {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 520px; /* измените значение в соответствии с вашим дизайном */
  top: 240px;
}

.bxs-envelope {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 520px; /* измените значение в соответствии с вашим дизайном */
  top: 144px;
}
