// @import '~bx-icons/font/bx-icons';

.auth-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.6); /* Цвет рамки формы */
  border-radius: 15px;
  padding: 30px;
  width: 600px;
  margin: 0 auto;
  margin-top: 120px;
  background-color: rgba(0, 0, 0, 0.721); /* Цвет фона формы */
  backdrop-filter: blur(5px); /* Применение эффекта размытия к фону */
  box-shadow: 10px 10px 20px 3px rgba(128, 128, 128, 0.5); /* Тень формы */
  opacity: 1;
  // opacity: 1;
}

.input {
  position: relative;
  display: flex;
  justify-content: center;
  // width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message {
  color: blue;
  font-weight: 700;
  font-size: 25px;
}

.reg {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.auth {
  display: flex;
  justify-content: center;
  color: white;
}

.errorForm {
  color: rgb(13, 243, 243);
  display: flex;
  justify-content: center;
  // font-size: 30px;
}

.errorPassword {
  color: rgb(13, 243, 243);
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.bxs-user {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 520px; /* измените значение в соответствии с вашим дизайном */
  top: 95px;
}

.bxs-lock-alt {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 520px; /* измените значение в соответствии с вашим дизайном */
  top: 142px;
  // bottom: 30px;
}

.bzz1 {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 520px; /* измените значение в соответствии с вашим дизайном */
  top: 190px;
}

.bxx {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 520px; /* измените значение в соответствии с вашим дизайном */
  top: 240px;
}

.bxs-envelope {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 520px; /* измените значение в соответствии с вашим дизайном */
  top: 144px;
}

.reg a {
  color: white;
  text-decoration: none;
  transition:
    color 0.3s,
    transform 0.3s;
  display: inline-block; /* Добавляем display */
}

.reg a:hover {
  color: rgb(13, 243, 243);
  transform: scale(1.2) translateX(15px);
}

.ssilka {
  margin-right: 30px;
}

.textReg {
  color: white;
  font-weight: 600;
}
