.container-profile {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 30px;
  width: 1360px;
  height: 100%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 30px;
  // backdrop-filter: blur(10px);
  // box-shadow: 10px 10px 20px 3px rgba($color: rgb(49, 136, 228), $alpha: 0.5);
  box-shadow: 10px 10px 20px 10px rgba(104, 104, 104, 0.356);
  gap: 3px;
}

.image {
  border-radius: 10%;
  width: 220px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.form-update-lk,
.form-update-form {
  display: flex;
  flex-direction: row;
}

.userInfo {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 50px;
}

.update-form-link {
  display: flex;
  width: 15%;
  box-shadow: 10px 10px 20px 3px rgba($color: black, $alpha: 0.5);
}

.name-input {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 10px;
}

.inputProfile {
  width: 1200px;
  height: 50px;
}

.save-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: rgb(72, 71, 71);
  border: 2px solid darkgray;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}

.save-button:hover {
  border-color: grey; /* изменение цвета границы при наведении */
  color: white; /* изменение цвета текста при наведении */
  background-color: darkgrey;
}

.button-container {
  display: flex;
  justify-content: center;
}

.link-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: rgb(72, 71, 71);
  border: 2px solid darkgray;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}

.link-button:hover {
  border-color: grey; /* изменение цвета границы при наведении */
  color: white; /* изменение цвета текста при наведении */
  background-color: darkgrey;
}

.delete-button {
  display: flex;
  justify-content: start;
  padding: 10px 20px;
  background-color: grey;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.form-update-form {
  display: flex;
  flex-direction: column;
}

.h5 {
  text-align: start;
  border-bottom: 3px solid darkgray;
  padding-bottom: 15px;
}

.h5 {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

html,
body {
  height: 100%;
  margin: 0;
}

.container-profile {
  position: relative; /* Добавляем относительное позиционирование для контейнера */
  height: 100%;
  display: flex; /* Используем flexbox для центрирования по вертикали и горизонтали */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
}

.container-profile .image {
  position: relative;
  transition: transform 0.3s;
}

.container-profile .image:hover {
  transform: scale(1.1) translateX(10px); /* Увеличиваем фото при наведении */
}
