.card-instructor {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
.card-photo {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.swiper {
  width: 1200px;
}
.card-text {
  text-align: center;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.721);
  margin-top: 5px;
  font-weight: 700;
}
.card-btns {
  display: flex;
  justify-content: center;
}
.btn-handle {
  margin-left: 80%;
}
.card-photo:hover {
  transform: scale(1.05);
}
.details-button {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #cfd1d4ca;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.527);
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
.card-instructor:hover .details-button {
  opacity: 1;
}
/* //ниже стили для профиля инструктора */

.instr-img {
  margin-top: 340px;
  margin-bottom: 15px;
  width: 20%;
  height: 250px;
  object-fit: cover;
  padding-left: 30px;
  border-radius: 5px;
}
.instr-networks {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.instr-contacts {
  margin-left: 30px;
  margin-top: 60px;
}
.add-date-button {
  height: 48px;
  width: 256px;
}
.iframe {
  border-radius: 5px;
}
.btn-allInstr {
  background-color: #07357bca;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.527);
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.container-instructorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Растягиваем контейнер на всю высоту экрана */
}

.instr-container {
  width: 90%;
}

.instr-profile {
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 10px 10px 20px 3px rgba(128, 128, 128, 0.5); /* Тень формы */
  background-color: rgba(255, 255, 255, 0.676);
  margin-bottom: 10px;
  border-radius: 10px;
}

.instr-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 170px;
  margin-bottom: 30px;
}

.instr-podrobnee {
  display: flex;
  justify-content: space-around;
}

.instr-video {
  width: 50%;
}

.instr-descr {
  width: 70%;
  padding-right: 75px;
}

.instr-border {
  border: 2px solid rgba(0, 0, 0, 0.172);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.instr-description {
  font-size: 17px;
}

.instr-description {
  text-align: start;
}

.instr-networks {
  width: 200px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.instr-networks .netw {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.instr-networks .netw:hover {
  transform: scale(1.2); /* Масштабирование при наведении */
}

.inst {
  display: flex;
  justify-content: start;
}
