.card-instructor {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
.card-photo {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.swiper {
  width: 1200px;
}
.card-text {
  text-align: center;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.721);
  margin-top: 5px;
  font-weight: 700;
}
.card-btns {
  display: flex;
  justify-content: center;
}
.card-photo:hover {
  transform: scale(1.05);
}
.details-button {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #cfd1d4ca;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.527);
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
.card-instructor:hover .details-button {
  opacity: 1;
}
.instr-container {
  margin-top: 10%;
  margin-left: 5%;
  border: rgba(0, 0, 0, 0.527);
}
.instr-img {
  margin-bottom: 5px;
  width: 16%;
  height: 200px;
  object-fit: cover;
}
.instr-networks {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.netw {
  width: 25px;
  height: 25px;
}
.instr-profile {
  display: flex;
}
.instr-podrobnee {
  display: flex;
}
.instr-video {
  width: 50%;
}
.instr-descr {
  width: 50%;
}
.instr-border {
  border: 2px solid rgba(0, 0, 0, 0.172);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.instr-description {
  text-align: start;
}
.instr-contacts {
  margin-left: 10px;
}
.add-date-button {
  height: 48px;
  width: 256px;
}
.iframe {
  border-radius: 5px;
}
.btn-allInstr {
  background-color: #07357bca;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.527);
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
.mySwiper {
  z-index: 0;
}
.form-add-qq {
  position: fixed;
  z-index: 1;
}
