.card-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  position: relative;
  width: 250px;
  background-color: #fff;
  margin: 5px;
  overflow: hidden;
  border: none;
  margin-top: 30px;
}
.card-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h2 {
  font-size: 18px;
  color: #333;
  margin-top: 14px;
}
.card p {
  font-size: 14px;
  color: #666;
}
.card-photo {
  width: 120%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 6px;
}
.card-text {
  text-align: center;
}
.card-btns {
  display: flex;
  justify-content: center;
}
.card:hover .card-photo {
  transform: scale(1.05);
}
.btn-like {
  height: 40px;
  width: 40px;
}
.btn-like-img {
  height: 40px;
  width: 40px;
}
.card .details-button {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #cfd1d4ca;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.527);
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
.card:hover .details-button {
  opacity: 1;
}

.instr-container {
  margin-top: 10%;
  margin-left: 5%;
}

.instr-img {
  height: 200px;
  width: 300px;
  margin-bottom: 5px;
}

.instr-networks {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.netw {
  width: 25px;
  height: 25px;
}

.instr-profile {
  display: flex;
}

.instr-podrobnee {
  display: flex;
}

.instr-video {
  width: 50%;
}
.instr-descr {
  width: 50%;
}

.instr-border {
  border: 2px solid rgba(0, 0, 0, 0.172);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.instr-description {
  text-align: start;
}

.instr-contacts {
  margin-left: 10px;
}

.add-date-button {
  height: 48px;
  width: 256px;
}

.iframe {
  border-radius: 5px;
}
