.cards-categories {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-category {
  background-color: #060b0f;
  position: relative;
  width: 600px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
}
.card-text {
  font-size: 18px;
  color: #f7f1f1;
  margin-top: 14px;
}
.card-photo {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-photo:hover {
  transform: scale(1.05);
}
.details-button {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #cfd1d4ca;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
.card-category:hover .details-button {
  opacity: 1;
}
.details-button:hover {
  color: rgb(105, 109, 109);
}
