#add-comment {
  display: flex;
  justify-content: center;
  margin: 60px;
  width: 1000px;
  right: 35px;
}

.comment-card {
  display: flex;
  /* justify-content: start; */
  flex-direction: column;
  margin: 20px 25px;
  border-radius: 5px;
  background-color: #7beeee23;
}

.btn.btn-outline-secondary {
  background: linear-gradient(to right, #333, darkgrey);
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.btn.btn-outline-secondary:hover {
  background: linear-gradient(to right, rgb(99, 72, 171), #333);
}

.input-group {
  height: 45px;
}

.title {
  text-align: start;
  padding-left: 30px;
  border-bottom: 1px dashed darkgray;
  border-radius: 5px;
}
